@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-1: #a9caaf;
    --cor-2: #ccc79f;
    --cor-3: #28355e;
    --cor-4: #3f6588;
    --cor-5: #bbc6d8;
    --cor-6: black;
    --cor-8: white;
    
    --cor-hover: #272727;  
    
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;    
    background-color: var(--cor-5);
}

.navbar {
    justify-content: space-around;
    align-items: center;
    padding: 13px 20px;
    background-color: var(--cor-3);
    color: var(--cor-2)
}


.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    font-family: var(--fonte-secundaria);
    color: var(--cor-5);
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

.hero {
    height: 20vh;
    display: flex;
    justify-content: center;
    color: var(--cor-3);
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit
    minmax(300ox, 1fr));
    gap: 20px;
    padding: 20px;
}

@media (max-width:780px) {
    .hero {
        font-size: 1.5em;
    }
}

.apresentacao {
    display: flex;
    justify-content: center;
    color: var(--cor-3);
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
  }


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background: var(--cor-2);
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}


.card-body {
    padding: 1rem;
  }

.card-title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: #222;
  }

.card-desc {
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--cor-4);
    margin-bottom: 1rem;
  }

.card-link {
    text-decoration: none;
    color: var(--cor-3);
    font-weight: bold;
}



.filho_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.img_redes {
    width: 45px;
}

.redes_sociais {
    color: var(--cor-hover);
    font-family: var(--fonte-secundaria);
    text-decoration: none;
}

.logo_certificado {
    width: 45px;
    margin-top: 100px;
}

.rodape {
    color: var(--cor-secundaria);
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor-3);
    font-size: 15px;
}

