@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;  
    
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.filho_links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.img_redes {
    width: 45px;
}

.redes_sociais {
    color: var(--cor-terciaria);
}

.logo_certificado {
    width: 45px;
    margin-top: 100px;
}